body {
    font-family: Arial, Helvetica, sans-serif;
}
.grey {
    color: gray;
}
.normal {
    font-weight: normal;
}
a {
    color: black;
}
a:hover {
    color: blue;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    background-color:white;
    border: 3px dotted black;
}
.logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 300px;
    font-weight: bold;
    font-size: 1.35rem;
    margin-left: 24px;
    border: 3px solid blue;
}
.logo img {
    height: 85%;
    padding-right:.3rem;
}
nav {
    display: flex;
    height: 100%;
    width: auto;
    border: 3px solid blue;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
nav ul li {
    padding-right: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

/* JUMBOTRON */
.jumbotron {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    border: 3px dotted black;
}
.jumbo-image {
    width: 60%;
    margin: 32px 20px 32px 24px;
    border: 3px solid blue;
}
.jumbo-image img {
    width: 100%;
}
.jumbo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    margin-left: 20px;
    border: 3px solid blue;
}
.jumbo-content h1 {
    display: block;
    font-weight: bold;
    font-size: 3.2vw;
    line-height: 3.5vw;
    /* width: 70%; */
}
.jumbo-content h2 {
    display: block;
    font-weight: bold;
    font-size: 2vw;
    line-height: 2.5vw;
    margin-top: 2rem;
}
.jumbo-content .button {
    text-align: center;
    height: auto;
    width: 26vw;
    margin-top: 2rem;
    border-radius: 6px;
    border: 3px solid red;
}
.jumbo-content .button span {
    display: block;
    font-size: 2.2vw;
    padding-top: 9px;
    padding-bottom: 9px;
}
.button:hover {
    background-color: blue;
}
.button span:hover {
    color: white;
    font-weight: bold;
}

/* FEATURES */
.features {
    display: flex;
    height: auto;
    width: 100%;
    border: 3px dotted black; 
}
.main-feature {
    display: flex;
    flex-direction: column;
    margin: 32px 40px 32px 24px;
    width: 60%;
    border: 3px solid blue;
}
.main-feature img {
    width: 100%;
    margin-bottom: 32px;
}
.main-feature h2 {
    font-size: 2.5vw;
    font-weight: bold;
    margin-bottom: 2vw;
}
.main-feature p {
    font-size: 1.5vw;
    line-height: 2vw;
    margin-bottom: 2.5vw;
}
.main-feature span {
    font-size: 1.25vw;
}
.feature-list {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    height: auto;
    justify-content: center;
    width: 40%;
    border: 3px solid red;
}
.feature-list .feature {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    border: 3px solid blue;
}
.feature-list .feature img {
    width: 35%;
    margin: 16px;
    border: 3px solid yellow;
}
.feature-list .feature .text-content {
    border: 3px solid aqua;
}
.feature-list .feature .text-content h3 {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 8px;
}
.feature-list .feature .text-content span {
    display: block;
    font-size: 1.25vw;
    line-height: 1.5vw;
    margin-bottom: 16px;
}

/* EDUCATION */
.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    border: 3px dotted black;
}
.education .education-heading {
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 3.2vw;
    font-weight: bold;
    margin-top: 64px;
    margin-bottom: 32px;
    border: 3px solid blue;
}
.education .catalog {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
    border: 3px solid red;
}
.education .catalog .course {
    width: 30%;
    margin-bottom: 16px;
    border: 3px solid blue;
}
.education .catalog .course img {
    width: 100%;
}
.education .catalog .course .description {
    margin: 16px 16px 20px 16px;
}
.education .catalog .course .description h2 {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 8px;
}
.education .catalog .course .description h3, p {
    margin-bottom: 8px;
    font-size: 1.25vw;
}
#art .description {
     margin-bottom: 6px;
}

