body {
    font-family: Arial, Helvetica, sans-serif;
}
.grey {
    color: gray;
}
.normal {
    font-weight: normal;
}
a {
    color: black;
}
a:hover {
    color: blue;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    background-color:white;
    border: 3px dotted black;
}
.logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    font-weight: bold;
    font-size: 1.35rem;
    margin-left: 24px;
    border: 3px solid blue;
}
.logo img {
    height: 85%;
    padding-right:.3rem;
}
nav {
    display: flex;
    height: 100%;
    width: auto;
    border: 3px solid blue;
}
nav .desktop-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
nav .desktop-nav li {
    padding-right: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}
nav .mobile-nav {
    display: none;
}

@media only screen and (max-width: 815px) {
    #tablet-nav {
        display: none;
    }
}
@media only screen and (max-width: 675px) {
    nav .desktop-nav {
        display: none;
    }
    nav .mobile-nav {
        display: flex;
        flex-direction: row;
        align-items: center; 
     }
    nav .mobile-nav li {
        padding-right: 3rem; 
        height: 100%;    
     }
    nav .mobile-nav li img {
        height: 55%;  
        margin-top:.78rem;    
     } 
    .logo img {
        height: 65%;
    }
}
@media only screen and (max-width: 600px) {
    .logo span {
        display: none;
    }
    header {
        justify-content: center;
    }
    .logo {
        margin-right: 14vw;
        margin-left: 11vw;
    }
    nav .mobile-nav li {
        padding-right: 12vw;
    }

}   

/* JUMBOTRON */
.jumbotron {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    border: 3px dotted black;
}
.jumbo-image {
    width: 60%;
    margin: 32px 20px 32px 24px;
    border: 3px solid blue;
}
.jumbo-image img {
    width: 100%;
}
.jumbo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    margin-left: 20px;
    border: 3px solid blue;
}
.jumbo-content h1 {
    display: block;
    font-weight: bold;
    font-size: 3.2vw;
    line-height: 3.5vw;
    /* width: 70%; */
}
.jumbo-content h2 {
    display: block;
    font-weight: bold;
    font-size: 2vw;
    line-height: 2.5vw;
    margin-top: 2rem;
}
.jumbo-content .button {
    text-align: center;
    height: auto;
    width: 26vw;
    margin-top: 2rem;
    border-radius: 6px;
    border: 3px solid red;
    background-color: red;
}
.jumbo-content .button span {
    display: block;
    font-size: 2.2vw;
    padding-top: 9px;
    padding-bottom: 9px;
}
.button:hover {
    background-color: blue;
}
.button span:hover {
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    .jumbo-image {
        display: none;    
    }
    .jumbo-content {
        background-image: url(../images/banner.jpg);
        background-position: center;
        background-size: cover;
        height: auto;
        width: 100%;
        padding-top: 150px;
        padding-bottom: 20px;
        padding-left: 20px;
        margin-right: 20px;
        color: white;
    }
}
@media only screen and (max-width: 600px) {
    .jumbotron {
        flex-direction: column;
        align-items: center;
    }
    .jumbo-image {
        display: none;
    }
    .mobile-banner {
        /* display: block; */
        background-image: url(../images/banner.jpg);
        width: 100%;
        height: 180px;
        background-position: center;
        border: 3px solid red;
    }
    .jumbo-content {
        background-image: none;
        align-items: center;
        padding-top: 32px;
        color: black;
    }
    .jumbo-content h1 {
        font-size: 7vw;
        line-height: 8vw;
        text-align: center;
    }
    .jumbo-content h2 {
        font-size: 4vw;
        line-height: 4vw;
        text-align: center;
    }
    .jumbo-content .button {
        width: 56vw;
    }
    .jumbo-content .button span {
        font-size: 4vw;
    }
}

/* FEATURES */
.features {
    display: flex;
    height: auto;
    width: 100%;
    border: 3px dotted black; 
}
.main-feature {
    display: flex;
    flex-direction: column;
    margin: 32px 40px 32px 24px;
    width: 60%;
    border: 3px solid blue;
}
.main-feature img {
    width: 100%;
    margin-bottom: 32px;
}
.main-feature h2 {
    font-size: 2.5vw;
    font-weight: bold;
    margin-bottom: 2vw;
}
.main-feature p {
    font-size: 1.5vw;
    line-height: 2vw;
    margin-bottom: 2.5vw;
}
.main-feature span {
    font-size: 1.25vw;
}
.feature-list {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    height: auto;
    justify-content: center;
    width: 40%;
    border: 3px solid red;
}
.feature-list .feature {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    border: 3px solid blue;
}
.feature-list .feature img {
    width: 35%;
    margin: 16px;
    border: 3px solid yellow;
}
.feature-list .feature .text-content {
    border: 3px solid aqua;
}
.feature-list .feature .text-content h3 {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 8px;
}
.feature-list .feature .text-content span {
    display: block;
    font-size: 1.25vw;
    line-height: 1.5vw;
    margin-bottom: 16px;
}

@media only screen and (max-width: 1000px) {
    .feature-list .feature .text-content span {
        display: none;
    }
    .main-feature p {
        font-size: 1.75vw;
    } 
    .main-feature span {
        font-size: 1.5vw;
    }
}

/* EDUCATION */
.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    border: 3px dotted black;
}
.education-heading {
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 3.2vw;
    font-weight: bold;
    margin-top: 64px;
    margin-bottom: 32px;
    border: 3px solid blue;
}
.catalog {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
    border: 3px solid red;
}
.catalog .course {
    width: 30%;
    margin-bottom: 16px;
    border: 3px solid blue;
}
.catalog .course img {
    width: 100%;
}
.catalog .course .description {
    margin: 16px 16px 20px 16px;
}
.catalog .course .description h2 {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 8px;
}
.catalog .course .description h3, p {
    margin-bottom: 8px;
    font-size: 1.25vw;
}
#art .description {
     margin-bottom: 6px;
}

@media only screen and (max-width: 1000px) {
    .catalog .course {
        width: 40%;
    }
     .catalog .course .description h2 {
        font-size: 2.25vw;
    }
    .catalog .course .description h3, p {
        font-size: 1.5vw;
    }
}

/* EXHIBIT */
.exhibit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    border: 3px dotted black;
}
.exhibit-heading {
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 3.2vw;
    font-weight: bold;
    margin-top: 64px;
    margin-bottom: 32px;
    border: 3px solid blue;
}
.exhibit-content {
    display: flex;
    width: 100%;
    height: auto;
    border: 3px solid red;
}
.exhibit-content .exhibit-video {
    width: 60%;
    margin: 32px 40px 32px 24px;
    border: 3px solid blue;
}
.exhibit-content .exhibit-video video {
    width: 100%;
    margin-bottom: 24px;
}
.exhibit-content .exhibit-video h3 {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 24px; 
}
.exhibit-content .exhibit-video p {
    font-size: 1.25vw;
    line-height: 2vw;
    margin-bottom: 2.5vw;  
}
.exhibit-content .exhibit-list {
    width: 45%;
    margin-top: 32px;
    margin-bottom: 32px;
    border: 3px solid red;
}
.exhibit-content .exhibit-list .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* height: 168px; */
    border: 3px solid blue;
}
.exhibit-content .exhibit-list .item img {
    width: 35%;
    margin: 16px;
    border: 3px solid yellow;
}
.exhibit-content .exhibit-list .item .text-content h3 {
    margin-bottom: 8px;
    font-size: 2vw;
    font-weight: bold;
}
.exhibit-content .exhibit-list .item .text-content span {
    font-size: 1.25vw;
    line-height: 2vw;
}

@media only screen and (max-width: 1000px) {
    .exhibit-content .exhibit-video h3 {
        font-size: 2.25vw;
    }
    .exhibit-content .exhibit-video p {
        font-size: 1.6vw;
    }
    .exhibit-content .exhibit-list .item .text-content h3 {
        font-size: 2.25vw;
    }
    .exhibit-content .exhibit-list .item .text-content span {
        font-size: 1.5vw;
    }
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 1.5vw;
    border: 3px dotted black;
}
footer span {
    margin-left: 24px;
    margin-bottom: 60px;
    border: 3px solid blue;
}
footer .terms-privacy {
    margin-right: 24px;
    margin-bottom: 60px;
    border: 3px solid blue;
}
footer .terms-privacy a {
    padding-right: 8px;
}

@media only screen and (max-width: 1000px) {
    footer {
        font-size: 1.85vw;
    }
}